#main{ 
    width: 960px; 
    margin: 0 auto; 
    text-align: center;
    font: 18px Arial, sans-serif;
    color: #444;
}

h1 {
    font-weight: normal;
    margin: 1.5em 0;
}

label {
    display: inline;
    padding: 10px 20px;
    margin: 10px 20px;
    background-color: #eee;
    box-shadow: 0 0 3px #aaa; 
    cursor: pointer;
}

label:hover {
    background-color: #ddd;
    box-shadow: 0 0 3px #aaa;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: #ccc;
    box-shadow: 0 0 1px #aaa;
}
